{% extends 'base.html' %}
{% load static %}
{% block title%}Password Change Done{% endblock title %}
{% block main-content %}

<div class="container my-5">
    <div class="row">
        <h4>Welcome Arjun</h4>
        <div class="col-sm-4 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary"> Password Change Done</a> </li>
            </ul>
        </div>
        <div class="col-sm-6 offset-sm-1 text center">
            <h3>Password Changed Successfully!!</h3>
            <div><iframe src="https://giphy.com/embed/AR1auiuk6pc5wiCPat" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/hellosawyer-calendar-sawyer-hisawyer-AR1auiuk6pc5wiCPat">via GIPHY</a></p></div>
        </div>
    </div>
</div>

{% endblock main-content %}